.edit-container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.react-editor p{
  color: black;
  font-size: 1.7rem;
}



.react-editor{
  height: auto;
  min-height: 100vh;
  font-size: 1.7rem;
  border-radius: 10px;
  width: 69%;
  margin: 0 auto;
  background-color: white;
  outline: none;
  
}

.edit-wiki-container{
  height: 10em;
  display: flex;
  align-items: center;
}

.wiki-publish-container{
  height: 10em;
  display: flex;
  align-items: center;
}



.editor-title{
  display: flex;
  margin: 2em auto 5em auto;
  width: 70%;
  gap: 2em;

}


.edit-wiki-button{
  background-color: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  font-size: 25px;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  align-items: center;
  margin-left: auto;
  margin-right: 2em;
  
}

.editorPublishBtn{
  border: none;
  border-radius: 8px;
  padding: 13px;
  font-size: 1.7rem;
  height: 6rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  background: linear-gradient(to right,rgba(56, 74, 255, 0.9) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
  color: black;
  margin-left: auto;
  margin-right: 2em;
}

.editorPublishBtn.spinner{
  background-position: left bottom;
}


.editor-title > *{
  width: 100%;
  overflow-wrap: break-word;
  border: none;
  font-size: 3.5rem;
  font-weight: bold;
  outline: none;
  resize: none;
  color: black;
  text-align: left;
  overflow: hidden;
}

.editor-title > .loading{
  opacity: 0;
  cursor: text;
  background-color: lightgrey !important;
  height: 3em;
  border-radius: 16px;
}

.editorPublishContainer{
  position: absolute;
  right: 10%;
  top: 8%;
}


.foremost{
  background-color: black;
}

