node_modules/
.log
*.log
*.cert
*.key
.env
*_env
production_env
dev_env
*.env
*.pem
server/org-repository/*
server/creator-contests/*
server/img/logos/*
server/contest-assets/staging/media/*
server/contest-assets/staging/submissions/*
build/
