


.analyticsContainer{
  position: relative;
  width: 90vw;
  margin: 0 auto;
  height: 90vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 8px solid black;
  background-color: #282c35;
  border-radius: 10px;
  padding: 5px;
}


.newProposals{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #282c35;
  border-radius: 10px;
  border: 2px solid #8b93a7;
}

.pastProposals{
  position: relative;
  background-color: #282c35;
  border-radius: 10px;
  border: 2px solid #8b93a7;
  max-height: 40rem;
}

.pastProposals h1{
  margin-left: 20px;
  color: #F9F6EE;
}

.newProposals h1{
  margin-left: 20px;
  color: #F9F6EE;
}
.newProposals h2{
  margin-left: 20px;
  color: #F9F6EE;
}

.newProposals h3{
  margin-left: 20px;
  color: #F9F6EE;
  margin-bottom: 70px;
}
.newProposals h4{
  margin-left: 20px;
  color: #F9F6EE;
}
.proposalBox{
  position: relative;
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  grid-gap: 10px;
  max-height: 82%;
  overflow-y: scroll;

}

.proposal{
  position: relative;
  background-color: #F9F6EE;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding: 1px;
  height: auto;
  width: 95%;
  display: inline-flex;
  text-align: left;
}



.proposal h4{
  padding: 10px;
  color: black;
  font-weight: bold;
  max-width: 80%;
  overflow-x: wrap;
}

.proposal-status-btn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  display: flex;
}




.proposal.active{
  border: 2px solid #20b684;
}

.proposal.closed{
  border: 2px solid #7c3aed;
}

.proposal-status-btn.closed{
  background-color: #7c3aed;
  color: white;
}

.proposal-status-btn.active{
  background-color: #21b66f;
  color: white;
}

.missedProposal h4{
  margin: 0 auto;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.myParticipation{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #282c35;
  border-radius: 10px;
  border: 2px solid #8b93a7;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.chartContainer{
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}


.past-proposals{
  position: relative;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #282c35;
}

.snapshot-btn{
  position: relative;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  padding: 5px;
  margin-top: 10%;
  color: #F9F6EE;
}

.doughnut-title{
  margin-left: 10px;
  font-weight: bold;
  color: #F9F6EE;
}

.proposalBox::-webkit-scrollbar {
    width: 12px;
}

.proposalBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px black;
    border-radius: 10px;
}

.proposalBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 100px #F9F6EE;
}
