


.analyticsContainer{
  position: relative;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
  border: 5px solid #24262e;
  border-radius: 10px;
}

.analyticsContainer > * {
  flex: 1 1 50ch;
}


.snapshot-flex-column-2{
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.snapshot-flex-column-2 > * {
  flex: 1 1 50ch;
}

.newProposals{
  border-right: 2px solid #24262e;


}

.pastProposals{


}

.myParticipation{
  cursor: pointer;
  border-bottom: 2px solid #24262e;

  

}


.pastProposals h1{
  margin-left: 20px;
  color: #F9F6EE;
  font-weight: bold;
}

.newProposals h1{
  margin-left: 20px;
  color: #F9F6EE;
  font-weight: bold;
}
.newProposals h2{
  margin-left: 20px;
  color: #F9F6EE;
}

.newProposals h3{
  margin-left: 20px;
  color: #F9F6EE;
  margin-bottom: 70px;
}
.newProposals h4{
  margin-left: 20px;
  color: #F9F6EE;
}
.proposalBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;

}

.proposal{
  position: relative;
  background-color: #F9F6EE;
  border-radius: 5px;
  cursor: pointer;
  height: auto;
  width: 95%;
  display: inline-flex;
  text-align: left;
}



.proposal h4{
  padding: 10px;
  color: black;
  font-weight: bold;
  max-width: 80%;
  overflow-x: wrap;
}

.proposal-status-btn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  display: flex;
}




.proposal.active{
  border: 2px solid #20b684;
}

.proposal.closed{
  border: 2px solid #7c3aed;
}

.proposal-status-btn.closed{
  background-color: #7c3aed;
  color: white;
}

.proposal-status-btn.active{
  background-color: #21b66f;
  color: white;
}

.missedProposal h4{
  margin: 0 auto;
  padding: 10px;
  color: black;
  font-weight: bold;
}

.chartContainer{
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}


.snapshot-btn{
  position: relative;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
  padding: 5px;
  margin-top: 10%;
  color: #F9F6EE;
}

.doughnut-title{
  margin-left: 10px;
  font-weight: bold;
  color: #F9F6EE;
}



