@keyframes cardseq{
  100% {opacity: 1;}
}


.calendarContainer{
  width: 95vw;
  margin: 0 auto;
  background-color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
  height: 80vh;
  opacity: 0;
  animation: cardseq 0.5s forwards;

}
