.RSPBprogressBar {
  height: 10px;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0; }
  .RSPBprogressBar .RSPBstep {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    transform: translateX(-50%);
    transition-property: all;
    transition-timing-function: ease; }
  .RSPBprogressBar .RSPBprogressBarText {
    color: black;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .RSPBprogressBar .RSPBprogression {
    position: absolute;
    transition: width 0.8s ease;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background: #384aff;
    z-index: -1; }


    .indexedStep {
      color: white;
      width: 20px;
      height: 20px;
      font-size: 1px;
      border: 4px solid #141416;
      background-color: #1d1d1d;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .indexedStep.accomplished {
      background-color: #384aff;
    }

    .indexedStep.current {
      background-color: white;
    }


