@keyframes cardseq {
  100% {
    opacity: 1;
  }
}



.dashboard-wrapper {
  animation: cardseq 0.5s forwards;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-gap: 10px;
  margin: 0 auto;
}


.widget-cards {
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}


@media screen and (max-width: 800px) {
  .info-container {
    margin: 5rem auto !important;
  }
}

@media screen and (min-width: 1101px) {
  .widget-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1450px) {
  .widget-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.widget-card {
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 2rem 2rem;
  cursor: pointer;
  background-color: rgb(36, 38, 46);
  position: relative;
  display: flex;
  min-width: 250px;
  min-height: 200px;
  flex: 1 0 0%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.widget-card:hover {
  background-color: rgba(36, 38, 46, 0.3);
;

}


.widget-card h2 {
  text-align: center;
  margin: 0 auto;
  color: #efefef;
}

.widget-card button {
  position: absolute;
  right: -20px;
  top: -10px;
  background: #ff3333;
  text-align: center;
  border: 3px solid black;
  border-radius: 100%;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
}



.new-widget-card {
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: grey;
  position: relative;
}


.new-widget-card h2 {
  text-align: center;
  margin: 2 auto;
}

.configureWidgetBtn {
  position: absolute;
  right: -20px;
  top: -10px;
  background: seagreen;
  text-align: center;
  border: 3px solid black;
  border-radius: 100%;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}

.card-image img {
  min-width: 10rem;
  max-width: 18rem;
  max-height: 12rem;
}

.info-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 20em;
  flex-wrap: wrap;

}

.info {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 40px;
  background: #24262e;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.dashboard-notify-container {
  animation: cardseq 1.3s forwards;
  display: flex;
  flex-direction: column;
  border: 3px solid #2d2e35;
  border-radius: 20px;
  background: #24262e;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dashboard-notify-container>span {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
  color: #7c3aed;
}

.dashboard-notify-content {
  width: 95%;
  height: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #efefef;
  font-size: 15px;
  text-align: center;
}

.dashboard-notify-content>button {
  border-radius: 8px;
  border: none;
  background-color: rgb(56, 74, 255);
  padding: 5px 20px;
}


.edit-settings-btn {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  width: auto;
  background: none;
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  color: #999;
}

.edit-settings-btn:hover {
  color: white;
}


.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-content>* {
  margin-bottom: 5px;
}

.info-content>h1 {
  color: #efefef;
  padding: 0px 3rem;
  text-align: center;
}

.info-content>p {
  color: #888;
}

.info-content>a {
  cursor: pointer;
  color: #efefef;
}


.info-content>span {
  background-color: #1d1d1d;
  padding: 5px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.info-content>span>img {
  width: 3rem;
  background-color: #1d1d1d;
}

.info-content>img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 100px;
}



.subscribe-btn {
  border: none;
  background-color: #d2d2d2;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe-btn:hover {
  background-color: white;
}



.pencil-logo {
  font-size: 8rem;

}

.manage-widgets {
  display: flex;
  justify-content: center;
  background-color: #2d2e35;
  border: none;
  color: lightgrey;
}

.manage-widgets:hover {
  background-color: rgba(45, 46, 53, 0.3);
}

.manage-widgets h2 {
  color: lightgrey;
  margin-top: 1em;
}
