.date-time-picker {
    max-width: 400px;
}

.date-time-picker label {
    font-size: 1.8rem;
    color: #b3b3b3;
    align-self: flex-start;
    margin-left: 10px;
}



.date-time-picker input_alt {
    font-size: 2rem;
    color: #d3d3d3;
    padding: 20px 10px;
    cursor: pointer;
    border: 2px solid #d95169;
    border-radius: 10px;
    background-color: #121212;    
}

.date-time-picker input {
    font-size: 2rem;
    color: #d3d3d3;
    padding: 20px 10px;
    cursor: pointer;
    border: 2px double transparent;
    border-radius: 10px;
    background-image: linear-gradient(#121212,#121212),linear-gradient(90deg,#e00f8e,#2d66dc);
    background-origin: border-box;
    background-clip: padding-box,border-box;
}

.date-time-picker input:focus {

    padding: 20px 10px;
}

.sc-VJcYb {
    backdrop-filter: none !important;
    background: none !important;
}

.sc-VJcYb h2 {
    font-size: 2.5rem;
}

.sc-VJcYb th {
    font-size: 2rem;
}

.sc-VJcYb button {
    font-size: 2rem;
}

.sc-VJcYb td {
    font-size: 2rem;
}

.sc-VJcYb select {
    font-size: 1.5rem;
}