
body{
  font-family: 'Ubuntu', sans-sans-serif;
}

.homepageContainer{
  background-color: #141416;
  height: 100vh;
  width: 100vw;
}

p, h1, h2, h3{
  color: #e2e2e2;
  margin: 0;
}

@keyframes fadein{
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.section1{
  height: 100vh;
  background-color: #141416;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-size: 100px 100px;
  background-image: radial-gradient(circle, grey 1px, rgba(0, 0, 0, 0) 1px);


}
.section2{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.section2 > .top > p{
  background-color: #2d2e35;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  width: 80%;
}

.section3{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section4{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.section1 > .left{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section1 > .left > div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section1 > .left > div > *{
  flex: 1 1 50%;
}

.section1-header h1{
  text-align: left;
}

.section1-header{
  margin-bottom: 20px;
}

.section1-blueprint{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  font-family: "Courier New";
  background-color: #141416;
}

.blueprint-row1{
  border-bottom: 1px solid grey;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  justify-content: flex-end;
}

.blueprint-row1 > p{
  margin-right: 30%;
}

.blueprint-row2{
  padding: 10px;
  display: flex;
  border-bottom: 1px solid grey;
}

.blueprint-row2 > p{
  margin-left: auto;
  margin-right: 30%;
}

.blueprint-row2 > div > p{
  font-size: 10px;
}

.blueprint-row3{
  padding: 10px;
  display: flex;
}

.blueprint-row3 > p:nth-child(1){
  font-size: 10px;

}
.blueprint-row3 > p:nth-child(2){
  margin-left: 5px;
  margin-right: 5px;
}

.blueprint-row3 > p:nth-child(3){
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 3px;
}



.section1 > .right{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section1 > .right > img{
  max-width: 90%;
  min-width: 20em;
}


.section2 > .top{
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.section2 > .top > p{
  font-size: 18px;
}


.section2 > .bottom{
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px){
  .section1-header h1{
    text-align: center;
  }
  .section2 > .top{
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .section2 > .bottom{
    flex-direction: column;
  }

  .section2 > .bottom > * > img{
    margin-top: 20px;
  }

  .section2 > .top > .right > div{
    width: 90%;  
  }
  .section2 > .bottom > .left > div{
    width: 90%;  
  }

  .section3{
    margin-bottom: 50px;
  }
  .section1 > .left > div{
    width: 70%;
  }
  .section4 > .bottom{
    width: 90% !important;
  }
}

.section2 > .top > * > img{
  max-width: 100%;
}

.section2 > .bottom > * > img{
  max-width: 100%;
}


.section2 > .bottom > .left{
  flex: 1 1 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}.section2 > .bottom > .right{
  flex: 1 1 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.section2 > .bottom > .left > div{
  text-align: center;
  background-color: rgba(44, 192, 255, 0.3);
  color: rgb(44, 192, 255);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 16px;
  width: 70%;
  margin: 20px 0px;
}

.section2 > .top > .right > div{
  text-align: center;
  background-color: rgba(169, 152, 255, 0.3);
  color: rgb(169, 152, 255);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 16px;
  width: 70%;
  margin: 20px 0px;
}


.section2 > .bottom > .left > div > p{
  color: rgb(44, 192, 255);
  font-size: 20px;

}

.section2 > .top > .right{
  flex: 1 1 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.section2 > .top > .left{
  flex: 1 1 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.section2 > .top > .right > div > p{
  color: rgb(169, 152, 255);
  font-size: 20px;
}


.section3 > .left{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.section3 > .right{
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.section3 > .left > .top{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  width: 90%;

}

.section3 > .left > .top > p{
  font-size: 20px;
  margin-top: 10px;
}

.widget-description{
  background-color: #24262e;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  margin: 2em auto;
  width: 90%;
}

.widget-description > p{
  animation: fadein 0.7s;
  font-size: 20px;
}


.widgets-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.widgets-container > *{
  margin: 0px 5px;
}

.homepage-widget-card{
  text-align: center;
  border: 2px solid #2d2e35;
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.homepage-widget-card.selected{
  border: 2px solid white;
}

.homepage-card-image > img{
  width: 5em;
}


.widget-img > img{
  animation: fadein 0.7s;
  max-width: 100%;
  border-radius: 8px;
}

.section4 > .top{
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 > .top > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4 > .bottom{
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}


.section4 > .bottom > div{
  border: none;
  background-color: #2d2e35;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px 40px;
  font-size: 20px;
}


svg path {
  stroke: #2d2e35;
  fill: none;
  fill-rule: evenodd;
  stroke: #2d2e35;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  stroke-dasharray: 50, 1724.6301269531;
  stroke-dashoffset: 1000;
  animation: logo 7s linear infinite;
}
@keyframes logo {
  0% {
    stroke-dashoffset: 1774.6301269531;
 }
  100% {
    stroke-dashoffset: 0;
 }
}
