@keyframes fadein{
  100% {opacity: 1;}
}

.navbar{
  width: 100%;
  background-color: #141416;
  border-radius: 0;
  align-items: center;
  padding-top: 10px;
}



.navbar.homepage > .parent-container{
  border-bottom: none;
}

.navbar-brand{
  height: auto;
}

.parent-container{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
  flex-wrap: wrap;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}


.walletBox{
  display: flex;
  background-color: #2d2e35;
  margin-left: auto;
  border: 2px solid #7c3aed;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.1s;
}



.walletBox > div:first-child{
  display: flex;
  flex-direction: row;
  grid-gap: 10px; 
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.walletBox > div:first-child > p{
  color: white;
  font-size: 16px;
  margin: 0;
  justify-self: center;
  align-self: center;
}


.walletAvatar{
  transform: scale(150%);
  -webkit-transform: scale(150%);
  cursor: pointer;
  margin-left: 10px;
}

.walletMore > span{
  cursor: pointer;
  transition: all 0.2s linear;
}

.walletMore > span{
  color: #efefef !important;
  
}


.connectionInfo{
  position: absolute;
  z-index: 20;
  top: 5em;
  background-color: #24262e;
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 0.5s;
  padding: 10px 10px;
  grid-gap: 10px;

}


.connectionInfo > span{
  background-color: white;
  color: black;
  border-radius: 6px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.connectionInfo > span::after{
  font-family: 'Font Awesome 5 Free';
  margin-left: 10px;
  content: "\f35d";
  font-weight: 900;
}

.connectionInfo > button{
  display: block;
  padding: 5px 12px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #373e47;
  color: #e5534b;
}

.connectionInfo > button:hover{
  background-color: #e5534b;
  color: white;
  transition: color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}






#account-address{
  border-radius: 20px;
}


.dropdown-menu{
  color: black;
  text-align: center;
}


.navbar-logo img{
  width: 4rem;
  cursor: pointer;
}

.discordBtn{

  border-radius: 8px;
  border: none;
  background: rgba(56, 74, 255, 0.9);
  font-size: 14px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.launchAppBtn{
  border-radius: 8px;
  border: none;
  background: rgb(217, 81, 105, 0.9);
  font-size: 14px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin-left: 10px;
}


.landing-page-btns{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}