
.cards-flex{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.cards{
  margin: 6rem auto;
  width: 100%;
  display: grid;
  gap: 20px;
}

.subscribe-btn{
  border: none;
  background-color: #d2d2d2;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe-btn:hover{
  background-color: white;
}

@media screen and (min-width: 650px){
  .cards{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 900px){
  .cards{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


@media screen and (min-width: 1200px){
  .cards{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


@keyframes cardseq{
  100% {opacity: 1;}
}

.new-org{
  opacity: 0;
  animation: cardseq 1s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  background-color: #1d1d1d;
  flex-wrap: wrap;
  color: #d2d2d2;
  box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.new-org > img{
  display: inline;
  max-width: 10rem;
  max-height: 10rem;
  margin: 5%;
}


.new-org:hover{
  background-color: #384aff;
  color: white;
  transition: background-color ease-in 0.3s;
  transition: color ease-in 0.3s;
}


.dao-card{
  opacity: 0;
  animation: cardseq 1s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  background-color: #24262e;
  flex-wrap: wrap;
  box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  
}

.dao-card:hover{
  background-color: rgba(36, 38, 46, 0.7);
}

.dao-card > img{
  display: none;
  margin: 5%;
}

.dao-card > img[src]{
  display: inline;
  max-width: 10rem;
  max-height: 10rem;
  border: 1px solid #24262e;
  border-radius: 100px;
}

.dao-card > h3{
  margin-top: auto;
  color: #efefef;
  text-align: center;
}

.dao-card > p{
  color: #d2d2d2;
}

.dao-card > *{
  margin-bottom: 10px;
}


