
.cards-flex{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.cards{
  margin: 6rem auto;
  width: 100%;
  display: grid;
  gap: 5%;
}

@media screen and (min-width: 650px){
  .cards{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 900px){
  .cards{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}


@media screen and (min-width: 1200px){
  .cards{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


@keyframes cardseq{
  100% {opacity: 1;}
}

.dao-card{
  opacity: 0;
  animation: cardseq 1s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  background-color: #24262e;
  flex-wrap: wrap;
}

.dao-card:hover{
  background-color: rgba(36, 38, 46, 0.7);
}

.dao-card > img{
  display: none;
  margin: 5%;

}

.dao-card > img[src]{
  display: inline;
  max-width: 10rem;
  max-height: 10rem;
  border: 1px solid #24262e;
  border-radius: 100px;

}

.dao-card > h2{
  margin-top: auto;
  color: #efefef;
  text-align: center;
}

.dao-card > p{
  color: #efefef;
}

.dao-card > *{
  margin-bottom: 10px;
}

.newOrgBox{
  position: absolute;
  display: flex;
  right: 10%;
  margin-bottom: 200px;
}

.newOrgBtn{
  margin-left: auto;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: rgb(45, 46, 53);
  color: white;
  font-size: 20px;
}
.wallet-error-box{
  display: flex;
}

.wallet-error-msg{
  animation: fadein 0.5s forwards;
  opacity: 0;
  border: 2px solid rgb(235, 87, 87);
  border-radius: 10px;
  height: auto;
  margin: 10px auto;
  background-color: rgba(235, 87, 87, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

}
.wallet-error-msg p{
  padding: 10px;
  margin: 0;
  color: rgb(235, 87, 87) !important;
  
}


.newOrgBtn:hover{
  background-color: #384aff;
  color: white;
  transition: background-color ease-in 0.3s;
  transition: color ease-in 0.3s;
}

