
button:disabled{
  color: grey;
  background-color: lightgrey;
}

.settings-container{
    display: flex;
    flex-direction: row;
}

.settings-tab-selector{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.settings-next-previous-ctr{
  width: 80%;
  display: flex;
}
  

.settings-top-level{
    display: flex;
    width: 80%;
}

.settings-top-level > .left,
.settings-top-level > .right{
  display: flex;
  flex: 1;
}

.settings-top-level > p{
  color: lightgrey;
  font-size: 22px;
  margin: 0;
  padding-right: 5px;
}



.checkpoint{
    width: 80%;
    margin: 2em auto;
}




.org-ens-tab{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.org-ens-tab > * {
  margin-top: 10px;
}









/***** begin finalize tab *****/
.org-finalize-tab{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  grid-gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.org-finalize-tab > p{
  font-size: 20px;
  color: lightgrey;
  text-align: center;
}

.org-finalize-tab > div > h2{
  color: #d3d3d3;
}

/***** end finalize tab *****/
