.next-btn{
    margin-left: auto;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(56, 74, 255);
    color: lightgrey;
}

.next-btn:hover{
    background-color: rgba(56, 74, 255, 0.7);
}

.next-btn:disabled{
    background-color: rgba(56, 74, 255, 0.4);
}

.previous-btn:hover{
    background-color: rgba(45, 46, 53, 0.7);
}

.exit-btn:hover{
    background-color: rgba(45, 46, 53, 0.7);
}

.previous-btn{
  margin-right: auto;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #2d2e35;
  color: lightgrey;

}

.save-btn{
    margin-left: auto;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgba(0, 163, 104, 0.3);
    color: rgb(0, 163, 104);
    box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.save-btn:hover{
    background-color: rgba(0, 163, 104, 0.1);

}


.finish-btn{
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(56, 74, 255);
    color: white;

}

.exit-btn{
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
    font-weight: bold;
    background-color: #2d2e35;
    color: lightcoral;
    
}
