.wiki-tab-header{
    font-size: 20px;
    margin-top: 20px;
    color: #d2d2d2;
    align-self: flex-start;
    margin-left: 20px;
}
.newWikiGrouping{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .newFolder{
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin-top: 100px;

  }
  
  .newFolder > div:first-child{
    display: flex;
    flex-direction: column;
  }
  
  
  .newFolder p{
    color: #d2d2d2;
    font-size: 16px;
  }

  .help-modal-next-previous-ctr{
    position: absolute;
    bottom: 0;
    width: 99%;
    display: flex;
  }