
.wiki-display-container{
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}


.wiki-sidebar{
  background-color: #24262e;
  border: 2px solid #1d1d1d;
  border-radius: 15px;
  width: 30rem;
  flex-wrap: wrap;
}

/*
  if not small screen, don't show popout button
*/
.wiki-popout-sidebar{
  max-height: 0px;
  max-width: 0px;
  visibility: hidden;
  opacity: 0;
}

.wiki-sidebar-heading{
  display: flex;
  flex-direction: row;
  color: #efefef;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.wiki-sidebar-heading > h2{
  margin-left: 10px;
}

.wiki-sidebar-heading button{
  margin-left: auto;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(56, 74, 255);
  color: white;
  padding: 10px 30px;
}

.wiki-sidebar-list{
  max-width: 30rem;
  overflow-wrap: anywhere;
}

.wiki-list{
  display: grid;
  grid-template-rows: repeat(1fr);
  border-left: 2px solid black;
  padding-left: 5px;
}


@keyframes wikiseq{
  100% {opacity: 1;}
}

.wiki{
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
}


.wiki p{
  animation: wikiseq 1.5s forwards;
  cursor: pointer;
  opacity: 0;
  margin-left: 10px;
}

.wiki p:nth-child(n){
  animation: wikiseq 1.5s forwards;
}

.wiki-folder{
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}




.wiki-folder span::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f054  ";
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-right: 5px;
  color: white;
}



.wiki-folder.rotate span::before{
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wiki-folder.rotate.down span::before{
  -moz-transform:rotate(450deg);
  -webkit-transform:rotate(450deg);
  transform:rotate(450deg);
}

.wiki-folder p{
  display: inline;
}

.wiki:hover{
  background-color: grey;
}


.wiki-sidebar p{
  color: #efefef;
  font-size: 18px;
  
}


.new-wiki-btn{
  position: flex;
}

.new-wiki-btn button{
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #1d1d1d;
  border-radius: 10px;
  background-color: #384aff;
  color: white;
  padding: 6px;
}

.new-document{
  background-color: #f4f5f7;
  color: #f4f5f7;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.new-document span{
  color: #f4f5f7;
}

.new-document:hover{
  background-color: lightgrey !important;
}

.editor-display{
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 0%;
  transition-property: height;
  transition: 0.5s ease-in-out;
}

.editor-display.wiki-open{
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.editor-display.wiki-closed{
  height: 0%;
  visibility: hidden;
  opacity: 0;

}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.draglist-header{
  border-bottom: 2px solid #aaa;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.draglist-header button{
  position: absolute;
  right: 3%;
  border-radius: 6px;
  margin: 2px;
  color: transparent;
  background-color: transparent;
  border: none;
}

.draglist-header button:hover{
  background-color: grey !important;
}

.drag-item-btn{
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px;
  color: transparent;
  background-color: transparent;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  max-width: 30px;
  max-height: 30px;
}


.drag-item-btn.focus{
  background-color: #253858 !important;
  color: white;
}

.drag-item-btn:hover{
  background-color: #253858 !important;
  color: white;
}

.dropdown{
  position: absolute;
  background-color: white;
  border-radius: 3px;
  border: 2px solid #253858;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
  top: 50%;
  right: 0;
  transform: translate(100%, 0);
  z-index: 1000;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: wikiseq 0.7s forwards;
  opacity: 0;
}

.dropdown p{

  font-size: 16px;
  color: black;
  padding: 5px;
  margin: 0;
}



.dropdown p:hover{
  background-color: rgba(255, 77, 77, 0.3);
  border-radius: 3px;
}


.editor-title textarea{
  animation: wikiseq 1.5s forwards;
  opacity: 0;
  cursor: text;
}



.react-editor{
  animation: wikiseq 1.5s forwards;
  opacity: 0;
  cursor: text;
}


@media only screen and (max-width: 800px){
 .wiki-display-container{
   flex-direction: column;
   width: 90%;
   margin: 0 auto;
   justify-content: center;

 }

 .wiki-sidebar{
  margin-left: -100%;
  transition-property: margin-left;
  transition: 0.3s ease-in-out;
 }

 .wiki-sidebar.wiki-closed{
   width: 90vw;
   margin: 0 auto;
  }
  /*
  on smaller screens, hide the wiki list when a document is open. When popout button is clicked, hide document and show wiki list
  */

  .wiki-sidebar.wiki-open{
    margin-left: -100%;
    max-height: 0;
    
  }

  .wiki-popout-sidebar.wiki-open{
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    margin-bottom: 1em;
  }
  .wiki-popout-sidebar.wiki-closed{
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    max-width: 0px;
  }

  .wiki-popout-sidebar.wiki-open > button{
    border: none;
    border-radius: 100px;
    padding: 10px;
    background-color: #384aff;
    color: white;
  }
  .wiki-sidebar p{
    width: 100%;
    overflow-wrap: break-word;
  }
  .wiki{
    padding: 0px 5px 0px 15px;
  }

  .editor-display{
    width: 100%;
  }


}